{% extends "base.html.twig" %}
{% block body %}
    <div class="main-box">
        <div class="create-event-box">
            <h2>Vytvoreni nove udalosti</h2>
            {{ form(form) }}
        </div>
    </div>
{% endblock %}


