{% extends "adminbase.html.twig" %}
{% block body %}
<div class="container mt-5">
<a class="btn btn-light " href="{{path('app_index')}}" role="button" style="position:absolute; top:0; left:0;" >Zpět</a>
    <div class="row d-flex justify-content-center">
        <div class="col-md-6">
            <div class="card px-5 py-5">
                <div class="form-data">
                    <div class="d-grid gap-2">
                      <div class="list-group text-center">
                        <a href="#" class="list-group-item list-group-item-action"> Nové sedlo</a>
                        <a href="#" class="list-group-item list-group-item-action">Ostrov</a>
                        <a href="#" class="list-group-item list-group-item-action">Podbořany</a>
                        <a href="#" class="list-group-item list-group-item-action">Nejdek</a>
                      </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}
