{% extends "base.html.twig" %}
{% block body %}
<div class="list-group">
  <a href="#" class="list-group-item list-group-item-action active"> Nové sedlo</a>
  <a href="#" class="list-group-item list-group-item-action">Ostrov</a>
  <a href="#" class="list-group-item list-group-item-action">Podbořany</a>
  <a href="#" class="list-group-item list-group-item-action">Nejdek</a>
</div>
{% endblock %}
