{% extends "adminbase.html.twig" %}
{% block body %}
<div class="container mt-5">
<a class="btn btn-light" href="{{path('event-list')}}" role="button" style="position:absolute; top:0; left:0;">Zpět</a>
    <div class="row d-flex justify-content-center">
        <div class="col-md-6">
            <div class="card px-5 py-5">
                <div class="form-data">
                    <div class="d-grid gap-2 justify-content-center">
                        <h2>Create new event</h2>   
                        {{ form(form) }}
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
    </div>
{% endblock %}


