{% extends "adminbase.html.twig" %}

{% block body %}
<div class="container mt-5">
    <div class="row d-flex justify-content-center">
        <div class="col-md-6">
            <div class="card px-3 py-3 justify-content-center">
                <div class="d-grid gap-2">
                    <a type="submit" name="submitAdd" class="p-3 btn btn-success" href="{{ path('event-list') }}">Add Event</a>
                    <table class="table table-striped">
                        <thead class="table-dark">
                            <th scope="col">Place</th>
                            <th scope="col">Date</th>
                            <th></th>
                        </thead>
                        <tbody>

                        {% for event in events %}
                            <tr>
                                <td>{{ event.place }}</td>
                                <td>{{ event.date }}</td>
                                <td><a type="submit" class="p-1 btn btn-success bi bi-pen" value="Edit Event"></a></td> 
                            </tr>
                        {% endfor %}

                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
</div>

{% endblock %}
