{% extends "base.html.twig" %}

{% block body %}
<div class="container mt-5">
    <div class="row d-flex justify-content-center">
        <div class="col-md-6">
            <div class="card px-5 py-5">
                <div class="d-grid gap-2 justify-content-center">
                    <a type="submit" name="submitAdd" class="p-3 btn btn-success" href="#">Add Event</a>
                    <table class="table table-striped">
                        <thead class="table-dark">
                            <th scope="col">ID</th>
                            <th scope="col">Place</th>
                            <th scope="col">Date</th>
                            <th scope="col">Time</th>
                            <th></th>
                            <th></th>
                        </thead>
                        <tbody>
                        
                        {% for event in events %}
                            <tr>
                                <td>{{ event.editLink }}</td>
                                <td>{{ event.place }}</td>
                                <td>{{ event.date }}</td>
                                <td>{{ event.time }}</td>
                                <td>
                                    <a type="submit" class="p-1 btn btn-success bi bi-pen" value="Edit Event">
                                        <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-pen" viewBox="0 0 16 16">
                                            <path d="m13.498.795.149-.149a1.207 1.207 0 1 1 1.707 1.708l-.149.148a1.5 1.5 0 0 1-.059 2.059L4.854 14.854a.5.5 0 0 1-.233.131l-4 1a.5.5 0 0 1-.606-.606l1-4a.5.5 0 0 1 
                                            .131-.232l9.642-9.642a.5.5 0 0 0-.642.056L6.854 4.854a.5.5 0 1 1-.708-.708L9.44.854A1.5 1.5 0 0 1 11.5.796a1.5 1.5 0 0 1 1.998-.
                                            001zm-.644.766a.5.5 0 0 0-.707 0L1.95 11.756l-.764 3.057 3.057-.764L14.44 3.854a.5.5 0 0 0 0-.708l-1.585-1.585z"/>
                                        </svg>
                                    </a>
                                <td> 
                            </tr>
                        {% endfor %}

                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
</div>
        
{% endblock %}
