{% extends "base.html.twig" %}

{% block title %}RecurringEventList{% endblock %}
{% block body %}
    <div class="mainbox">
        <div class="event">
            <div class="text">
                Text 
            </div>
            <div class="time">11:00</div>
        </div>
        <button name="submit" type="submit">Edit event</button>
    </div>
{% endblock %}
