{% extends "base.html.twig" %}

{% block title %}RecurringEventList{% endblock %}
{% block body %}
    <div class="mainbox">
        <div class="event">
            ahoj
            <div class="time">ahoj</div>
        </div>
        <div class="event">
            ahoj
            <div class="time">ahoj</div>
        </div>
        <div class="event">
            ahoj
            <div class="time">ahoj</div>
        </div>
        <button type="submit">Edit event</button>
    </div>
    
    
{% endblock %}